* {
  margin: 0px;
}

body {
  height: 360vh;
  position: relative;
}

header {
  background: #08810c;
  position: fixed;
  width: 100%;
  height: 70px;
  top: -70px;
  transition: 0.4s;
  z-index: 1;
}

.logoHome {
  width: 2vw;
  height: 4vh;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  padding-top: 15px;
  list-style-type: none;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  padding-top: 15px;
  list-style-type: none;
  color: white;
}

.navbar li {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.submenu li {
  padding: 10px;
  color: black;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s ease-in-out;
}

.submenu li:hover {
  background: #08810c;
  color: white;
}

.dropdown:hover .submenu {
  display: block;
}

.dropdown-sub {
  position: relative;
}

.submenu-right {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: white;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.submenu-right li {
  padding: 10px;
  color: black;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s ease-in-out;
}

.submenu-right li:hover {
  background: #08810c;
  color: white;
}

.dropdown-sub:hover .submenu-right {
  display: block;
}

.ConsolesNintendo {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.titreConsolesNintendo {
  text-shadow: 3px 3px 0 black;
  color: #0aad0f;
  font-size: 5rem;
}

.Nes,
.superNes,
.GameBoyAdvance,
.WII,
.Switch {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
}

.cadreConsoleNes,
.cadreSuperNes,
.cadreGameBoyAdvance,
.cadreWII,
.cadreSwitch {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #08810c;
  border-radius: 25px;
  width: 90vw;
  height: 40vh;
  border: solid 1px black;
}

.descriptionEtPrix {
  width: 65vw;
  height: 37vh;
  background-color: #c5ffc7;
  border: solid 1px black;
  border-radius: 15px;
  margin-top: 1vh;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.imgConsoleNes,
.imgSuperNes,
.imgGameBoyAdvance,
.imgWII,
.imgSwitch {
  width: 22vw;
  height: 37vh;
  border-radius: 15px;
  border: solid 1px black;
  margin-top: 1vh;
  margin-left: 1vw;
}

h1,
p,
h3,
button {
  margin-top: 3vh;
}

p {
  margin-left: 10vw;
  margin-right: 10vw;
}

button {
  width: 10vw;
  height: 5vh;
  background-color: #08810c;
  color: white;
  border-radius: 10px;
}

button:hover {
  margin-bottom: 5px;
  margin-right: 5px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px grey;
  background-color: #0aad0f;
  transition-duration: 1s;
}

footer {
  margin-top: 10%;
  height: 20vh;
  width: 100vw;
  background-color: #08810c;
  color: white;
  text-align: center;
  vertical-align: center;
  position: absolute ;
  bottom: 0;
}

